
.visualizations {

  $black: #222222;
  display: block;

  div[mhe-chart] {
    height: 400px;
    width: 100%;
  }

  .chart-title {
    font-size: 2rem;
    text-align: center;
  }

  .axis-name {
    line { fill: none; stroke-width: 1px; stroke: $black; opacity: 0.5; }
    path { fill: none; stroke-width: 1px; stroke: $black; opacity: 0.5; }
    text { fill: $black; }
  }

  .axis-val {
    line { fill: none; stroke-width: 1px; stroke: $black; opacity: 0.5; }
    path { fill: none; stroke-width: 1px; stroke: $black; opacity: 0.5; }
    text { fill: $black; }
  }

  .axis-vowel {
    line { fill: none; stroke-width: 1px; stroke: $black; opacity: 0.5; }
    path { fill: none; stroke-width: 1px; stroke: $black; opacity: 0.5; }
    text { fill: $black; }
  }

  .axis-count {
    line { fill: none; stroke-width: 1px; stroke: $black; opacity: 0.5; }
    path { fill: none; stroke-width: 1px; stroke: $black; opacity: 0.5; }
    text { fill: $black; }
  }
}